.query-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paper-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredient-input {
    width: 60%;
}

.input-validation-error {
    width: 60%;
    color: red;
}

.recent-searches-wrapper {
    width: 80%;
}

.recent-searches-title {
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.recent-searches-icon {
    margin-right: 10px;
}

.recent-search-item {
    cursor: pointer;
}

.search-button {
    width: 80%;
}
