.result-recipes-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.paper-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accordion-item {
    width: 100%;
}

.accordion-summary:hover {
    background-color: #EEE;
}

.recipe-image {
    max-height: 231px;
    opacity: 0.8;
    border-radius: 20px;
    transition: opacity 500ms;
}

.recipe-image:hover {
    opacity: 1;
    transition: opacity 500ms;
}
